<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Networks.Netis.XmlWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Networks.Netis.XmlWebServiceClient.Properties.Settings>
            <setting name="Networks_Netis_XmlWebServiceClient_localhost_NetisService"
                serializeAs="String">
                <value>http://localhost:52059/NetisService.asmx</value>
            </setting>
        </Networks.Netis.XmlWebServiceClient.Properties.Settings>
    </applicationSettings>
</configuration>